.InfoCard {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoCard__title {
    font-size: 24pt;
    margin: 0px 0px 20px 0px;
}

.InfoCard__subtitle {
    font-size: 18pt;
    margin: 0px 0px 10px 0px;
}