.Navigator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navigator__button {
    margin: 0px 20px;
    font-size: 32px;
    cursor: pointer;
    color: #141B4D;
}

.Navigator__button_disabled {
    cursor: default;
    color: #E7E7E7;
}