.ChartContainer {
    min-height: 500px;
    display: flex;
}

.ChartContainer__y-axis-label {
    font-weight: bold;
}

.ChartContainer__tooltip  {
    color: #000000;
    font-weight: bold;
    background: #E4E4E4;
    padding: 5px 10px;
}